@charset "UTF-8";
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #c71e2b;
  overflow: hidden;
}
body > img {
  font-size: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
body > img.top {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
body > img:last-of-type.top {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
@keyframes ani {
  from {
    transform: translateY(0);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-20%);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0.2;
  }
}
@-webkit-keyframes ani {
  from {
    -webkit-transform: translateY(0);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: translateY(-20%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0);
    opacity: 0.2;
  }
}
div {
  position: fixed;
  top: 147vw;
  left: 68vw;
  width: 30vw;
  height: 6vw;
  display: block;
  opacity: 0.2;
  z-index: 11;
  background: url('data:image/svg+xml,<svg width="85" height="20" xmlns="http://www.w3.org/2000/svg"> <text font-size="16"  y="16" x="0" fill="#fff">向上滑动</text> <polyline stroke-width="2" stroke="#fff" fill="none" points="68 9, 75 4, 82 9" /> <polyline stroke-width="2" stroke="#fff" fill="none" points="68 16, 75 11, 82 16" /> </svg>') center center no-repeat;
  animation: ani 2s infinite ease-in-out;
  -webkit-animation: ani 2s infinite ease-in-out;
}
.top + img + div {
  display: none;
}
